body{
  background-position: center;
  background-size: contain;

}
#location{
  text-align: center;
  margin-top:10%;

}
.location{
  font-size:36px;
  font-family: Merriweather;
  font-weight: 300;

  margin: 0 auto;

}

#weather{
  text-align: center;
}
.temp{
  text-align: center;


}